{% assign now_date = 'now' | date: '%s' %}
{% assign expiry_date = shop.metafields.hlc.company_reviews.value.expiry  | date: '%s' %}
{% assign fetch_new_reviews = true %}
{% if expiry_date and now_date < expiry_date %}
  {% assign fetch_new_reviews = false %}
{% endif %}

<div x-data="{
        rating: {{ shop.metafields.hlc.company_reviews.value.rating }},
        count: {{ shop.metafields.hlc.company_reviews.value.count }},
        text: '{{ shop.metafields.hlc.company_reviews.value.rating }} ({{ shop.metafields.hlc.company_reviews.value.count }})',
        setText(rating, count) {
          this.text = rating + ' (' + count + ')';
          this.$dispatch('reviews-text', this.text);
        },
      }"
     x-init="
        {% if fetch_new_reviews %}
           fetch('https://app.profilestudio.xyz/shopify/stock/proxy/reviews')
              .then(res => res.json())
              .then(data => {
                  if(data.rating){
                    setText(Math.round(data.rating * 10) / 10, data.count);
                  }
            });
        {% endif %}
     "
     x-on:click="window.location='/pages/customer-reviews'"
     class="top-bar-review"
     style="cursor: pointer"
>
  <div class="reviews-logo">
    {% include 'reviews-io-svg' %}
  </div>
  <div class="stars">
    {% include 'star-svg' %}
    {% include 'star-svg' %}
    {% include 'star-svg' %}
    {% include 'star-svg' %}
    {% include 'star-svg' %}
  </div>
  <div x-text="text">
    {{ shop.metafields.hlc.company_reviews.value.rating }} ({{ shop.metafields.hlc.company_reviews.value.count }})
  </div>
</div>
