{% comment %}
Efficient Reviews Bar
- We use the shop metafields to store the reviews data in a JSON format.
- If the expiry date in the meta has passed, we will call our own sever.
- Our server will in turn connect with the reviews platform, gateher the data, save it to shopify meta & return.
- We are currently using a private app to update the shopify meta
- app/stock-info is an app proxy, managed through https://partners.shopify.com/ (adam@profilestudio.com). This simply hides our URL
{% endcomment %}

{% assign now_date = 'now' | date: '%s' %}
{% assign expiry_date = shop.metafields.hlc.company_reviews.value.expiry | date: '%s' %}
{% assign fetch_new_reviews = true %}
{% if expiry_date and now_date < expiry_date %}
  {% assign fetch_new_reviews = false %}
{% endif %}

<div x-data="{
        rating: '{{ shop.metafields.hlc.company_reviews.value.rating }}',
        count: '{{ shop.metafields.hlc.company_reviews.value.count }}',
        text: '{{ shop.metafields.hlc.company_reviews.value.rating }} ({{ shop.metafields.hlc.company_reviews.value.count }})',
        setText(rating, count) {
          this.text = rating + ' (' + count + ')';
          this.$dispatch('reviews-text', this.text);
        },
      }"
     x-init="
        {% if fetch_new_reviews %}
           fetch('/apps/stock-info/reviews?shop={{ shop.permanent_domain }}')
              .then(res => res.json())
              .then(data => {
                  if(data.rating){
                    setText(Math.round(data.rating * 10) / 10, data.count);
                  }
            });
        {% endif %}
     "
     x-on:click="window.location='/pages/customer-reviews'"
     class="top-bar-review"
     style="cursor: pointer"
>
  <div class="reviews-logo">
    {% include 'reviews-io-svg' %}
  </div>
  <div class="stars">
    {% include 'star-svg' %}
    {% include 'star-svg' %}
    {% include 'star-svg' %}
    {% include 'star-svg' %}
    {% include 'star-svg' %}
  </div>
  <div x-text="text">
    {{ shop.metafields.hlc.company_reviews.value.rating }} ({{ shop.metafields.hlc.company_reviews.value.count }})
  </div>
</div>
